<h1>Sign Up To Start The Fun!</h1>
<%= form_for @user do |f| %>

	<% if @user.errors.any? %>
	<div>

		<% @user.errors.full_messages.each do |msg| %>
		<ul>
			<li><%= msg %></li>
		</ul>
		<% end %>
	</div>
	<% end %>



	<p>
		<%= f.label :name %>
		<%= f.text_field :name %>
	</p>
	<p>
		<%= f.label :password %>
		<%= f.password_field :password %>
		<%= f.label :password_confirmation %>
		<%= f.password_field :password_confirmation %>
	</p>
	<p>
		<%= f.submit %>
<% end %>
	</p>

	