<h2>Sign Up To Start The Fun!</h2>
<%= form_for @user do |f| %>
<div>
	<% if @user.errors.any? %>
	<div>

		<% @user.errors.full_messages.each do |msg| %>
		<ul>
			<li><%= msg %></li>
		</ul>
		<% end %>
	</div>
	<% end %>



	<p>
		<%= f.label :name %> <br>
		<%= f.text_field :name, autofocus: true %>
	</p>
	<p>
		<%= f.label :password %> <br>
		<%= f.password_field :password %>
	</p>
	<p>
		<%= f.label :password_confirmation %> <br>
		<%= f.password_field :password_confirmation %>
	</p>
	<p>
		<%= f.submit %>
<% end %>
	</p>
</div>
	