<h1><%= @user.name %>'s Page</h1>

<h2>Total Points: <%= @user.scores.sum(:points).to_i %></h2> 
<h2>Maxiumum score thus far: <%= @user.scores.maximum(:points) %></h2> 
<table>
	<tr>
		<th>Current Location</th>
		<th>Plate Spotted</th>
		<th>Points</th>
		<th>Date</th>
	</tr>
	<tr>
		<% @user.scores.each do |list| %>
		<td><%= list.current_location %></td>
		<td><%= list.plate_spotted %></td>
		<td><%= list.points.to_i %></td>
		<td><%= list.created_at.strftime("%d %b. %Y") %></td>
		
	</tr>
	<% end %>
</table>

<h1>Add a new plate</h1>

<%= form_for([@user, @user.scores.build])  do |f| %>
<p>
	<%= f.label :current_location, "Current Location:" %>
	
	<%= f.collection_select(:current_location, Distance.all, :state_abbrev, :state_abbrev)  %>
 
</p> 
<p>
	<%= f.label :plate_spotted, "Plate Spotted:" %>
	<%= f.collection_select(:plate_spotted, Distance.all, :state_abbrev, :state_abbrev)  %>
</p> 
<p>
	<%= f.submit %>
</p>
<% end %>

