<!DOCTYPE html>
<html>
<head>
  <title>The License Plate Game!</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "vendor/modernizr" %>
  <%= csrf_meta_tags %>
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>

<%= render 'layouts/header.html.erb' %>

 <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <%= image_tag "lpg1.jpg", alt: "lpg" %>
        <h1>The License Plate Game!</h1>
      </div>
    </div>

  <div class="container main ">

      <!-- Example row of columns -->
      
      <div class=".col-xs-6 .col-md-4"></div>
      <div class=".col-xs-6 .col-md-4">
          <div>
            <% flash.each do |key, value| %>
            <div class="alert alert-<%= key %>"><%= value %></div>
            <% end %>
            <%= yield %>
          </div>
      </div> 
      <div class=".col-xs-6 .col-md-4"></div>
      <%= render 'layouts/footer' %>
  </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>




