<!DOCTYPE html>
<html>
<head>
  <title>The License Plate Game!</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<p>
	<%= link_to 'home', root_path %> |
	<%= link_to 'sign up', new_user_path %> | 
	
	<!--<%= link_to 'sign in', new_session_path %> | -->
	<%= link_to 'about', static_pages_about_path %> |
	<%= link_to 'contact us', new_contact_path %> | 
	
	<% if logged_in? %>
	<strong>Hey, <%= current_user.name %>'s in the Game!</strong>
		<%= link_to 'players', users_path %> |
		<%= link_to 'profile', @current_user %> |
		<%= link_to 'logout', session_path(@current_user), method: :delete %> | 
		<% else %>
		<%= link_to 'login', new_session_path %> | 
		<% end %>
</p>

<% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>

<%= yield %>

</body>
</html>


